@using PFC2025SWD63A.Repositories
@inject RedisRepository _redisRepository

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PFC2025SWD63A</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PFC2025SWD63A.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PFC2025SWD63A</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

                    <ul class="navbar-nav flex-grow-1">
                        @{

                            _redisRepository.AddMenu(new Menu() { Title = "Home", Url = "\\Home", Order = 1 });
                            _redisRepository.AddMenu(new Menu() { Title = "Upload", Url = "\\File\\Create", Order = 2 });
                            _redisRepository.AddMenu(new Menu() { Title = "List", Url = "\\File\\Index", Order = 3 });


                            var menus = _redisRepository.GetMenus().OrderBy(x=>x.Order);

                        }

                            @foreach (var menu in menus)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="@menu.Url">@menu.Title</a>
                                </li>
                            }
                    </ul>
                    
                    
                    
                    
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>

                <div class="ms-auto">
                    
                    @if(User.Identity.IsAuthenticated==false)
                    {
                        <a class="btn btn-primary" asp-controller="Account" asp-action="Index">
                            <button>Login with Google</button>
                        </a>
                    }
                    else
                    {
                        <a class="btn btn-primary" asp-controller="Account" asp-action="Logout">
                            <button>Logout</button>
                        </a>
                    }

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - PFC2025SWD63A - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
